.add-player {
    width: 500px;
    margin: 30px auto;
    display: flex;
}

.add-player form {
    flex: 1;
    display: flex;
    border: 1px solid #fff;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.add-player label {
    flex: 1;
}

.add-player input {
    flex: 1;
    font-size: 120%;
    border: 1px solid #fff;
    padding: 10px 5px;
    background-color: #282c34;
    color: #fff;
}

.add-player input:hover, .add-player input:focus {
    cursor: pointer;
    background-color: #181c24;

    box-shadow: inset 0 0 0 1pt #fff;
    text-shadow: 0 0 1pt #ffffff;
    /*font-weight: bolder;*/
    color: white;
}

.add-player input[type=text] {
    max-width: 300px;
}

.add-player input[type=submit] {
    align-self: flex-end;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;

}