.scoreboard {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.scoreboard ul {
    padding: 0;
}
.scoreboard h1 {
    text-align: center;
}